body {
    font-family: Arial, sans-serif;
    background-color: #ffe4dc;
    color: #333;
    margin: 0;
    padding: 0;
        transform: scale(1.5); 
        transform-origin: top left; 
        width: 66.67%; 
        overflow-x: hidden; 
    
}

.header {
    background-color: #f09494; 
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin: 0;
}

.member-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 60px; 
}

.member-row {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.member-row.second {
    margin-top: 60px;
}

.member {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 20px;
    text-align: center;
}

.member-photo {
    height: 180px; 
    width: 180px; 
    border-radius: 50%; 
    border: 10px solid #f09494; 
    object-fit: cover;
    margin-bottom: 30px; 
   
}

.member p {
    font-size: 1em; 
    margin-top: 20px; 
}


.color-divider {
    height: 120px; 
    width: 300%; 
    display: flex; 
    flex-direction: column; 
   
    margin: -20px;
}

.color-top {
    flex: 1; 
    background-color: #f09494; 
}

.color-bottom {
    flex: 1; 
    background-color: #f8c4c4; 
}

.color-block {
    background-color: #f8c4c4; 
    height: 100px; 
    width: 200%; 
    position: relative;
    margin-top: -60px; 
    left: 0; 
    text-align: center;
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}