@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    background-color: #ffe4dc; 
    color: #333;
    margin: 0;
    padding: 0;
    transform: scale(1.5); 
    transform-origin: top left; 
    width: 66.67%; 
    overflow-x: hidden; 
}

.header {
    background-color: #f09494; 
    padding: 30px;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin: 0;
}

.member-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 60px; 
}

.member-row {
    display: flex;
    justify-content: center;
    margin-bottom: 40px; 
}

.member-row.second {
    margin-top: 60px; 
}

.member {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 20px; 
    text-align: center;
}

.member-photo {
    height: 180px; 
    width: 180px; 
    border-radius: 50%; 
    border: 10px solid #f09494; 
    object-fit: cover; 
    margin-bottom: 30px; 
}

.member p {
    font-size: 1em; 
    margin-top: 20px; 
}

.color-divider {
    height: 120px;
    width: 300%; 
    display: flex; 
    flex-direction: column; 
    margin: -20px; 
}

.color-top {
    flex: 1;
    background-color: #f09494; 
}

.color-bottom {
    flex: 1; 
    background-color: #f8c4c4; 
}

.color-block {
    background-color: #f8c4c4; 
    height: 100px; 
    width: 200%; 
    position: relative; 
    margin-top: -60px; 
    left: 0; 
    text-align: center; 
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.group-pic-section {
    text-align: center; 
    margin-bottom: 60px; 
}

.group-pic-section h2 {
    font-size: 2em; 
    color: #333; 
    margin-bottom: 20px; 
}

.group-pic {
    height: auto;
    width: 50%; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.download-link {
    display: inline-block;
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
    background-color: #f09494; 
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease;
}

.download-link:hover {
    background-color: #f8c4c4; 
    color: #000; 
}

.member-section p {
    display: flex;
    justify-self: center;
    font-size: large;
    margin: 0;
    font-weight: bold;
}
